{% extends "base.html" %}

{% block head_title %}Forgot password{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 blog-main">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Forgot password</strong></h3>
                </div>
                <div class="panel-body">
                    {% if not success %}
                    <form action="{% url 'forgot-password-url' %}" method="post">{% csrf_token %}
                        <div class="form-group">
                            <label for="emailId">Please write your email</label>
                            <input type="email" class="form-control" id="emailId" placeholder="Enter email" name="email" value="{{ email_form }}" required>
                        </div>
                        {% if error %}
                        <div class="text-danger">
                            <label>{{ error_message }}</label>
                        </div>
                        {% endif %}
                        <button type="submit" class="btn btn-default">Forgot password</button>
                    </form>
                    {% else %}
                        <div class="text-success">
                            <label>{{ success_message }}</label>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}