{% extends "base.html" %}

{% block head_title %}Login page{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 blog-main">
            <div class="blog-header">
                <h1 class="blog-title">Login</h1>
                <!--<p class="lead blog-description">Please to login in your cabinate</p>-->
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Sign In </strong></h3>
                </div>
                {% if not user.is_authenticated %}
                <div class="panel-body">
                    <form action="" method="post">{% csrf_token %}
                        <div class="form-group">
                            <label for="emailId">Username or Email</label>
                            <input type="email" class="form-control" id="emailId" placeholder="Enter email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="passId">Password <a href="{% url 'forgot-password-url' %}">(forgot password)</a></label>
                            <input type="password" class="form-control" id="passId" placeholder="Password" name="password" required>
                        </div>
                        {% if error %}
                        <div class="text-danger">
                            <label>{{ error_message }}</label>
                        </div>
                        {% endif %}
                        <button type="submit" class="btn btn-default">Sign in</button>
                    </form>
                </div>
                {% else %}
                <div class="margin-full-10">
                    <p>Hello, {{ user.username }}. You are already authorized. <a href="{% url 'logout-view' %}">(Logout)</a> </p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}