{% extends 'base.html' %}
{% block meta_title %}{{ product.name }}{% endblock %}

{% load force_shop_tags %}

{% block extra_css %}
{% endblock %}

{% block main %}

<div class="col-md-12">
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        {% for obj in product.category.all %}
            <li><a href="{% url 'category-list-url' obj.slug %}">{{ obj }}</a></li>
        {% endfor %}
        <li>{{ product.name }}</li>
    </ul>
</div>

<div class="col-md-9">

    <div class="row" id="productMain">
        <div class="col-sm-6">
            <div id="mainImage">
                <img src="{{ product.product_image }}" alt="" class="img-responsive">
            </div>

            {% if product.discount %}
            <div class="ribbon sale">
                <div class="theribbon">SALE</div>
                <div class="ribbon-background"></div>
            </div>
            {% endif %}

            {% if product.new_product %}
            <div class="ribbon new">
                <div class="theribbon">NEW</div>
                <div class="ribbon-background"></div>
            </div>
            {% endif %}

{#            <div class="ribbon gift">#}
{#                <div class="theribbon">GIFT</div>#}
{#                <div class="ribbon-background"></div>#}
{#            </div>#}


        </div>
        <div class="col-sm-6">
            <div class="box">
                <h1 class="text-center">{{ product.name }}</h1>
                <p class="goToDescription"><a href="#details" class="scroll-to">Scroll to product details, material & care and sizing</a></p>
                <p class="price">{{ product.product_price }}</p>
                {% include 'force_shop/details/layer_detail.html' %}
                <p class="text-center buttons">
                    <a href="#productDetails" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                    <a href="basket.html" class="btn btn-default"><i class="fa fa-heart"></i> Add to wishlist</a>
                </p>
            </div>

            <div class="row" id="thumbs">
                {% for image in product.images.all %}
                <div class="col-xs-4">
                    <a href="{{ image.image.url }}" class="thumb">
                        <img src="{{ image.image.url }}" alt="" class="img-responsive">
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>

    <div class="box" id="details">
        <h4>Product details</h4>
        <p>{{ product.short_desc }}</p>
        <h4>Material & care</h4>
        <ul>
            <li>Polyester</li>
            <li>Machine wash</li>
        </ul>
        <h4>Size & Fit</h4>
        <ul>
            <li>Regular fit</li>
            <li>The model (height 5'8" and chest 33") is wearing a size S</li>
        </ul>

        <blockquote>
            <p><em>Define style this season with Armani's new range of trendy tops, crafted with intricate details. Create a chic statement look by teaming this lace number with skinny jeans and pumps.</em>
            </p>
        </blockquote>

        <hr>
        <div class="social">
            <h4>Show it to your friends</h4>
            <p>
                <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
            </p>
        </div>
    </div>

    {% include 'force_shop/details/layer_detail.html' %}
    {% include 'force_shop/details/grid_detail.html' %}

    <div class="row same-height-row">
        <div class="col-md-3 col-sm-6">
            <div class="box same-height">
                <h3>You may also like these products</h3>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="product same-height">
                <div class="flip-container">
                    <div class="flipper">
                        <div class="front">
                            <a href="detail.html">
                                <img src="img/product2.jpg" alt="" class="img-responsive">
                            </a>
                        </div>
                        <div class="back">
                            <a href="detail.html">
                                <img src="img/product2_2.jpg" alt="" class="img-responsive">
                            </a>
                        </div>
                    </div>
                </div>
                <a href="detail.html" class="invisible">
                    <img src="img/product2.jpg" alt="" class="img-responsive">
                </a>
                <div class="text">
                    <h3>Fur coat</h3>
                    <p class="price">$143</p>
                </div>
            </div>
            <!-- /.product -->
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="product same-height">
                <div class="flip-container">
                    <div class="flipper">
                        <div class="front">
                            <a href="detail.html">
                                <img src="img/product1.jpg" alt="" class="img-responsive">
                            </a>
                        </div>
                        <div class="back">
                            <a href="detail.html">
                                <img src="img/product1_2.jpg" alt="" class="img-responsive">
                            </a>
                        </div>
                    </div>
                </div>
                <a href="detail.html" class="invisible">
                    <img src="img/product1.jpg" alt="" class="img-responsive">
                </a>
                <div class="text">
                    <h3>Fur coat</h3>
                    <p class="price">$143</p>
                </div>
            </div>
            <!-- /.product -->
        </div>


        <div class="col-md-3 col-sm-6">
            <div class="product same-height">
                <div class="flip-container">
                    <div class="flipper">
                        <div class="front">
                            <a href="detail.html">
                                <img src="img/product3.jpg" alt="" class="img-responsive">
                            </a>
                        </div>
                        <div class="back">
                            <a href="detail.html">
                                <img src="img/product3_2.jpg" alt="" class="img-responsive">
                            </a>
                        </div>
                    </div>
                </div>
                <a href="detail.html" class="invisible">
                    <img src="img/product3.jpg" alt="" class="img-responsive">
                </a>
                <div class="text">
                    <h3>Fur coat</h3>
                    <p class="price">$143</p>

                </div>
            </div>
            <!-- /.product -->
        </div>

    </div>

    <div class="row same-height-row">
        <div class="col-md-3 col-sm-6">
            <div class="box same-height">
                <h3>Products viewed recently</h3>
            </div>
        </div>


        <div class="col-md-3 col-sm-6">
            <div class="product same-height">
                <div class="flip-container">
                    <div class="flipper">
                        <div class="front">
                            <a href="detail.html">
                                <img src="img/product2.jpg" alt="" class="img-responsive">
                            </a>
                        </div>
                        <div class="back">
                            <a href="detail.html">
                                <img src="img/product2_2.jpg" alt="" class="img-responsive">
                            </a>
                        </div>
                    </div>
                </div>
                <a href="detail.html" class="invisible">
                    <img src="img/product2.jpg" alt="" class="img-responsive">
                </a>
                <div class="text">
                    <h3>Fur coat</h3>
                    <p class="price">$143</p>
                </div>
            </div>
            <!-- /.product -->
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="product same-height">
                <div class="flip-container">
                    <div class="flipper">
                        <div class="front">
                            <a href="detail.html">
                                <img src="img/product1.jpg" alt="" class="img-responsive">
                            </a>
                        </div>
                        <div class="back">
                            <a href="detail.html">
                                <img src="img/product1_2.jpg" alt="" class="img-responsive">
                            </a>
                        </div>
                    </div>
                </div>
                <a href="detail.html" class="invisible">
                    <img src="img/product1.jpg" alt="" class="img-responsive">
                </a>
                <div class="text">
                    <h3>Fur coat</h3>
                    <p class="price">$143</p>
                </div>
            </div>
            <!-- /.product -->
        </div>


        <div class="col-md-3 col-sm-6">
            <div class="product same-height">
                <div class="flip-container">
                    <div class="flipper">
                        <div class="front">
                            <a href="detail.html">
                                <img src="img/product3.jpg" alt="" class="img-responsive">
                            </a>
                        </div>
                        <div class="back">
                            <a href="detail.html">
                                <img src="img/product3_2.jpg" alt="" class="img-responsive">
                            </a>
                        </div>
                    </div>
                </div>
                <a href="detail.html" class="invisible">
                    <img src="img/product3.jpg" alt="" class="img-responsive">
                </a>
                <div class="text">
                    <h3>Fur coat</h3>
                    <p class="price">$143</p>

                </div>
            </div>
            <!-- /.product -->
        </div>

    </div>

</div>

{% include "force_shop/right-category-panel.html" %}


{% endblock %}


{% block extra_js %}{% endblock %}


