{% extends 'base.html' %}

{% block meta_title %}{% if category.name %}{{ category.name }}{% else %}Products{% endif %}{% endblock %}

{% block main %}
<div class="col-md-12">
    <ul class="breadcrumb">
        <li><a href="/">Home</a></li>
        {% for obj in category.get_ancestors %}
            <li><a href="{% url 'category-list-url' obj.slug %}">{{ obj }}</a></li>
        {% endfor %}
        <li>{{ category.name }}</li>
    </ul>
</div>
<div class="col-md-9">
    <!-- <div class="box">
        <h1>Ladies</h1>
        <p>In our Ladies department we offer wide selection of the best products we have found and carefully selected worldwide.</p>
        </div> -->
    <div class="box info-bar">
        <div class="row">
            <div class="col-sm-12 col-md-4 products-showing">
                Showing <strong>{{ path_products_count_in_page }}</strong> of <strong>25</strong> products
            </div>
            <div class="col-sm-12 col-md-8  products-number-sort">
                <div class="row">
                    <form class="form-inline">
                        <div class="col-md-6 col-sm-6">
                            <div class="products-number">
                                <strong>Show</strong>
                                {% if path_products_count_in_page %}
                                    {% if path_products_count_in_page == 12 %}
                                        <a href="/shop/?count=12" class="btn btn-default btn-sm btn-primary">12</a>
                                        <a href="/shop/?count=36" class="btn btn-default btn-sm">36</a>
                                        <a href="/shop/?count=all" class="btn btn-default btn-sm">All</a> products
                                    {% elif path_products_count_in_page == 36 %}
                                        <a href="/shop/?count=12" class="btn btn-default btn-sm">12</a>
                                        <a href="/shop/?count=36" class="btn btn-default btn-sm  btn-primary">36</a>
                                        <a href="/shop/?count=all" class="btn btn-default btn-sm">All</a> products
                                    {% else %}
                                        <a href="/shop/?count=12" class="btn btn-default btn-sm">12</a>
                                        <a href="/shop/?count=36" class="btn btn-default btn-sm">36</a>
                                        <a href="/shop/?count=all" class="btn btn-default btn-sm btn-primary">All</a> products
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="products-sort-by">
                                <strong>Sort by</strong>
                                <!-- Single button -->
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ sort_by }} <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="/shop/?count={{ path_products_count_in_page }}&s=name">По названию</a></li>
                                        <li><a href="/shop/?count={{ path_products_count_in_page }}&s=low">Самые дешевые</a></li>
                                        <li><a href="/shop/?count={{ path_products_count_in_page }}&s=high">Самые дорогие</a></li>
                                        <li><a href="/shop/?count={{ path_products_count_in_page }}&s=date">Дате поступления</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="/shop/?count={{ path_products_count_in_page }}&s=rating">По рейтингу</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row products">
        {% for product in products %}
        <div class="col-md-4 col-sm-6">
            <div class="product">
                <div class="product-img"><a href="{{ product.get_absolute_url }}">
                    <img src="{{ product.product_image }}" alt="" >
                    </a>
                </div>
                <div class="text">
                    <h3><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h3>
                    <p class="price">
                        {% if product.product_price_sale %}<del>{{ product.product_price_sale }}</del>{% endif %} {{ product.product_price }}
                    </p>
                    <p class="buttons">
                        <a href="{{ product.get_absolute_url }}" class="btn btn-default">View detail</a>
                        <a href="{{ product.get_absolute_url }}" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                    </p>
                </div>
                {% if product.discount %}
                <div class="ribbon sale">
                    <div class="theribbon">SALE</div>
                    <div class="ribbon-background"></div>
                </div>
                {% endif %}
                {% if product.product_value_new %}
                <div class="ribbon new">
                    <div class="theribbon">NEW</div>
                    <div class="ribbon-background"></div>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>

{#    {% verbatim %}#}
{#    <div class="row products" v-show="!products">#}
{#        <div class="col-md-12 col-sm-12">#}
{#            <div class="product" style="height: 200px;">#}
{#                <div class="loader"></div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <div class="row products" v-show="products" style="display: none">#}
{#        <div class="col-md-4 col-sm-6" v-for="product in products">#}
{#            <div class="product">#}
{#                <div class="product-img"><a :href="product.get_absolute_url">#}
{#                    <img v-bind:src="product.product_image" alt="" >#}
{#                    </a>#}
{#                </div>#}
{#                <div class="text">#}
{#                    <h3><a :href="product.get_absolute_url">{{ product.name }}</a></h3>#}
{#                    <p class="price">#}
{#                        <del>{{ product.product_price_sale }}</del> {{ product.price }}#}
{#                    </p>#}
{#                    <p class="buttons">#}
{#                        <a :href="product.get_absolute_url" class="btn btn-default">View detail</a>#}
{#                        <button class="btn btn-primary" v-on:click="addProduct(product.id)"><i class="fa fa-shopping-cart"></i>Add to cart</button>#}
{#                    </p>#}
{#                </div>#}
{#                <div class="ribbon sale" v-if="product.discount">#}
{#                    <div class="theribbon">SALE</div>#}
{#                    <div class="ribbon-background"></div>#}
{#                </div>#}
{#                <div class="ribbon new" v-if="product.new_product">#}
{#                    <div class="theribbon">NEW</div>#}
{#                    <div class="ribbon-background"></div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    {% endverbatim %}#}
    <div class="pages">
        <p class="loadMore">
{#            <a href="#" class="btn btn-primary btn-lg"><i class="fa fa-chevron-down"></i> Load more</a>#}
        </p>
        <ul class="pagination">
            <li><a href="#">&laquo;</a>
            </li>
            <li class="active"><a href="#">1</a>
            </li>
            <li><a href="#">2</a>
            </li>
            <li><a href="#">3</a>
            </li>
            <li><a href="#">4</a>
            </li>
            <li><a href="#">5</a>
            </li>
            <li><a href="#">&raquo;</a>
            </li>
        </ul>
    </div>
</div>
<!-- /.col-md-9 -->

{% include "force_shop/right-category-panel.html" %}

{% endblock %}