{% load mptt_tags %}
<div class="col-md-3">
    <div class="panel panel-default sidebar-menu">
        <div class="panel-heading">
            <h3 class="panel-title">Categories</h3>
        </div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked category-menu">
                {% for tag in categories %}
                    <li>
                        <a href="#">{{ tag.name }} <span class="badge pull-right">{{ tag.get_products_count }}</span></a>
                        <ul>
                            {% for obj in tag.get_children %}
                                {% if obj == category %}
                                    <li style="background-color: whitesmoke;">
                                        <a href="{% url 'category-list-url' obj.slug %}" style="font-weight: 800; font-size: 15px;">
                                            {{ obj.name }}
                                        </a>
                                    </li>
                                    {% for optional_tag in obj.get_descendants %}
                                        <li><a href="{% url 'category-list-url' optional_tag.slug %}">{{ optional_tag.name }}</a></li>
                                    {% endfor %}
                                {% else %}
                                    <li><a href="{% url 'category-list-url' obj.slug %}">{{ obj.name }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="panel panel-default sidebar-menu">
        <div class="panel-heading">
            <h3 class="panel-title">Brands <a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> Clear</a></h3>
        </div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    {% for brand in brands %}
                    <div class="checkbox">
                        <label>
                        <input type="checkbox">{{ brand.name }}
                        {% if brand.image %}
                        <img src="{{ brand.image.url }}" width="100%">
                        {% endif %}
                        </label>
                    </div>
                    {% endfor %}
                </div>
                <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button>
            </form>
        </div>
    </div>
    <div class="panel panel-default sidebar-menu">
        <div class="panel-heading">
            <h3 class="panel-title">Colours <a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> Clear</a></h3>
        </div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    {% for color in colors %}
                    <div class="checkbox">
                        <label>
                        <input type="checkbox"> <span class="colour" style="background-color: #{{ color.hex_code }};"></span>  {{ color.name }}
                        </label>
                    </div>
                    {% endfor %}
                </div>
                <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button>
            </form>
        </div>
    </div>
</div>