<div class="well">
  <form>
    <h4>Colors</h4>
    <div class="row">
      <div class="col-lg-6">
        <ul class="list-unstyled">
          {% for color in colors %}
          <label>
            <input type="checkbox" name="{{ color.id }}" value="yes"> <a href="{{ color.get_absolute_url }}">{{ color.name }}</a>
          </label>
          <br> 
          {% endfor %}
        </ul>
      </div>
    </div>
  </form>
</div>
