{% extends 'admin/change_form.html' %}
{% load i18n %}

{% block submit_buttons_bottom %}

<div class="row">
    <div class="span12">
        <div class="slate" style="display: inline-flex; width: 100%;">
            <table class="orders-table table" style="width: 33%; background-color: #f6f6f6; margin: 0 7px 5px 7px ;">

                <caption>Order details</caption>
                <tbody>
                    <tr>
                        <td>Order #: </td>
                        <td class="value">{{ original }}</td>
                    </tr>
                    <tr>
                        <td>Order date: </td>
                        <td class="value">{{ original.order_city }}</td>
                    </tr>
                    <tr>
                        <td>Payment Method</td>
                        <td class="value">{{ original.date_creation }}</td>
                    </tr>
                    <tr>
                        <td>Status payment</td>
                        <td><span class="label {{ original.get_payment_label }}">{{ original.get_status_payment_display }}</span></td>
                    </tr>
                    <tr>
                        <td>Status shipping</td>
                        <td><span class="label {{ original.get_shipping_label }}">{{ original.get_status_shipping_display }}</span></td>
                    </tr>
                    <tr>
                        <td>Transaction ID</td>
                        <td class="value">{{ original.transaction_id }}</td>
                    </tr>
                    <tr>
                        <td>Member</td>
                        <td class="value"><a href="/admin/accounts/user/{{ original.user.id }}/change/">{{ original.client_name }}</a> ({{ original.order_phone }})</td>
                    </tr>
                </tbody>
            </table>

            <table class="orders-table table" style="width: 33%; background-color: #f6f6f6; margin: 0 7px 5px 7px ;">
                <caption>Delivery Address</caption>
                <tbody>
                    <tr>
                        <td>City: </td>
                        <td class="value">{{ original.order_city }}</td>
                    </tr>
                    <tr>
                        <td>Address: </td>
                        <td class="value">{{ original.order_street }} {{ original.order_house }}</td>
                    </tr>
                    <tr>
                        <td>Flat: </td>
                        <td class="value">{{ original.order_flat }}</td>
                    </tr>
                    <tr>
                        <td>Postal code: </td>
                        <td class="value">{{ original.order_postcode }}</td>
                    </tr>
                    <tr>
                        <td>Shipping: </td>
                        <td class="value">{{ original.order_shipping }}</td>
                    </tr>
                    <tr>
                        <td> - </td>
                        <td> - </td>
                    </tr>
                    <tr>
                        <td> - </td>
                        <td> - </td>
                    </tr>
                </tbody>
            </table>

            <table class="orders-table table" style="width: 33%; background-color: #f6f6f6; margin: 0 7px 5px 7px ;">
                <caption>Cart details</caption>
                <tbody>
                    <tr>
                        <td>Price captured: </td>
                        <td class="value">{{ original.price_captured }} {{ original.currency.symbol }}</td>
                    </tr>
                    <tr>
                        <td>Shipping price: </td>
                        <td class="value">{{ original.shipping_price }} {{ original.currency.symbol }}</td>
                    </tr>
                    <tr>
                        <td>Tax price:</td>
                        <td class="value">{{ original.tax_price }} {{ original.currency.symbol }}</td>
                    </tr>
                    <tr>
                        <td>Total price:</td>
                        <td class="value">{{ original.total_price }} {{ original.currency.symbol }}</td>
                    </tr>
                    <tr>
                        <td>Total quantity:</td>
                        <td class="value">{{ original.total_quantity }}</td>
                    </tr>
                    <tr>
                        <td> - </td>
                        <td> - </td>
                    </tr>
                    <tr>
                        <td> - </td>
                        <td> - </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<div class="row">
    <div class="span12">
        <div class="slate">
            <div class="page-header">
                <h2>Ordered Items</h2>
            </div>
            <table class="orders-table table" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Products</th>
                        <th class="value">Value</th>
                        <th class="quantity">Quantity</th>
                        <th class="actions">Dispatch</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cart in original.cart.all_cart_items %}
                    <tr>
                        <td>
                            <h3>
                                <img src="{{ cart.product.image.image.url }}" height="100px" style="margin-left: 10px; margin-right: 10px">
                                <a href="/admin/force_shop/product/{{ cart.product.product.id }}/change/">{{ cart.product.code }}</a>
{#                                <span class="label label-info">6 In Stock</span>#}
{#                                <br>#}
{#                                <span class="meta">Item summary or notes</span>#}
                            </h3>
                        </td>
                        <td class="value">{{ cart.product.price }} {{ cart.product.currency.symbol }}</td>
                        <td class="quantity">{{ cart.quantity }}</td>
                        <td class="actions"><input type="checkbox"></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="submit-row">
    <input type="button" value="Calculate price" onclick="window.location='/admin/force_shop/order/action/{{ original.id }}/?value=calculate';" />
    <input type="button" value="Lock" onclick="window.location='/admin/base/order/action/{{ original.id }}/?value=lock';" />
    <input type="button" value="Charge" onclick="window.location='/admin/base/order/action/{{ original.id }}/?value=charge';" />
    <input type="button" value="Cancel" onclick="window.location='/admin/base/order/action/{{ original.id }}/?value=cancel';" />

    <input type="button" value="Open" onclick="window.location='/admin/base/order/action/{{ original.id }}/?value=open';" />
    <input type="number" name="order_amount" style="height: 15px;background-color: white;color: black;border: 1px solid #ccc;;" id="order_amount_id" placeholder="Amount">
    <a href="#" style="height: 35px; margin: 0 0 0 0; padding: 8px 15px 11px 15px; background-color: #447e9b; color: white; border-radius: 5px;" onclick="runRefund()" id="refund_link">Refund</a>
    <input type="button" value="Shipment" onclick="window.location='/admin/base/order/action/{{ original.id }}/?value=request_shipment';" />

    <input type="submit" value="Save" class="default" name="_save">
    <input type="submit" value="Save and add another" name="_addanother">
    <input type="submit" value="Save and continue editing" name="_continue">
</div>

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript">
    function runRefund() {
      var amount = 0;
      amount = $('#order_amount_id').val();
      url = '/admin/base/order/action/{{ original.id }}/?value=refund_order' + '&amount='+amount
      window.location=url;
    };
</script>
{% endblock %}
