/** Your theme modifications here **/

.product-img {
    display: inline-block;
    width: 100%;
    height: 180px;
    overflow: hidden;
    margin: 10px 0px 10px 0px
}
.product-img img {
    width: 200px;
    display: block;
    margin: 0 auto;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    text-align: center;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}