{% load force_shop_tags %}

<div class="row" id="details">
    <div class="col-md-12 col-sm-12"><h4 id="productDetails">Product details</h4></div>
    {% for product_variation in product_variations %}
        <form action="/shop/add_to_cart/" class="form-inline" method="post" role="form">{% csrf_token %}
        <div class="col-md-4 col-sm-6">
            <div class="product">
                <div class="product-img"><a href="{{ product_variation.get_absolute_url }}">
                    <img src="{{ product_variation.current_image }}" alt="" >
                    </a>
                </div>
                <div class="text">
                    <h3><a href="{{ product_variation.get_absolute_url }}">{{ product_variation.code }}</a></h3>
                    <input type="hidden" name="product_id" value="{{ product_variation.id }}" /><br>

                    <p class="price">
                        <select id="id_quantity" name="quantity" class="form-control" style="margin: 0 5px 0 0">
                            {% for i in product_variation.count|create_range %}
                            <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                        {% if product_variation.price_sale %}<del>{{ product_variation.product_price_sale }}</del> {% endif %}{{ product_variation.product_price }}
                    </p>
                    <p class="buttons">
                        <button type="submit" class="btn btn-block btn-primary"><i class="fa fa-shopping-cart"></i>Купить</button>

                    </p>
                </div>
                {% if product_variation.discount %}
                <div class="ribbon sale">
                    <div class="theribbon">SALE</div>
                    <div class="ribbon-background"></div>
                </div>
                {% endif %}
                {% if product_variation.product_value_new %}
                <div class="ribbon new">
                    <div class="theribbon">NEW</div>
                    <div class="ribbon-background"></div>
                </div>
                {% endif %}
            </div>
        </div>
    </form>
    {% endfor %}
</div>