{% load force_shop_tags %}

<div class="box" id="details">
    <h4>Product details</h4>
    <form action="/shop/add_to_cart/" class="form-inline" method="post" role="form">{% csrf_token %}
        <div class="form-group">
            <select class="form-control" name="product_id">
                {% for product_variation in product_variations %}
                    <option value="{{ product_variation.id }}">{{ product_variation.variations.all }}: {{ product_variation.price }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail2">quantity</label>
            <select class="form-control" name="quantity">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary"><i class="fa fa-shopping-cart"></i>Купить</button>
    </form>
</div>