{% extends "index.html" %}
{% load i18n %}

{% block head_title %}{% trans "Выберите язык" %}{% endblock %}

{% block main %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 blog-main">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>{% trans "Выберите язык и страну" %}</strong></h3>
                </div>
                <div class="panel-body">
                    <form action="" method="post">{% csrf_token %}
                        <div class="form-group">
                            <label>{% trans "Выберите страну" %} <img src="{% static 'img/blank.gif' %}" class="flag flag-cz" alt="Czech Republic" /></label>
                            <select class="form-control" name="country">
                                {% for country in countries %}
                                    <option value="{{ country.slug }}">{{ country.name }}</option>
                                {% endfor %}
                            </select>
                            <p align="center" style="margin-top: 10px; align-items: center"><a href="{% url 'choose-another-country-url' %}">({% trans "Выбрать другую страну" %})</a></p>
                        </div>

                        <div class="form-group">
                            <label>{% trans "Выберите язык" %}</label>
                            <select class="form-control" name="language">
                                {% for language in languages %}
                                    <option value="{{ language.slug }}">{{ language.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-success">{% trans "Готово" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}