{% extends "index.html" %}

{% block head_title %}Chouse another language{% endblock %}

{% block main %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 blog-main">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Please input new country</strong></h3>
                </div>
                <div class="panel-body">
                    <form action="" method="post">{% csrf_token %}
                        <div class="form-group">
                            <label>Please write new country</label>
                            <input name="language" id="language_id" class="form-control">
                            <p>Новая страна будет доступна после одобрения модератора</p>
                        </div>
                        <button type="submit" class="btn btn-success">Input</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}